@charset "UTF-8";

aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}
body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
header p {
	font-size: 25px;
}
nav {
  background-color: #20416c;
  padding: 5px;
  margin-top: 1px;
}
li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
  font-variant: small-caps;
  font-weight: bold;
 
}
li a {
  color: white;
}


section {
  background-color: #bbbbbb;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px 10px;
  float: left;
  width: 290px;
  height: 280px;
  line-height:30px;
  font-size: 15px;
}
input {
	font-size: 20px;
}
button {
	height: 35px;
	width: 150px;
	font-size: 20px;
}
aside {
  background-color: #bbbbbb;
  width: 270px;
  height: 270px;
  float: right;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height:40px;
  text-align: center;
}
footer {
  clear: both;
  background-color: #20416c;
  color: white;
  padding: 5px 20px;
}
div {
  background-color: yellow;
  margin-top: 20px;
  padding: 5px;
}
